{% extends "base.html" %}
{% block content %}  

<h1>Kirjaudu sisään</h1>

<form method="post" action="{{base_path}}/login">
    <div class="form-group">
        <label>Sähköposti</label>
        <input type="text" class="form-control" name="email" value="{{email}}">
    </div>

    <div class="form-group">
        <label>Salasana</label>
        <input type="password" class="form-control" name="password">
    </div>

    <button type="submit" class="btn btn-primary" style="display: inline-block; margin-right: 10px;">Kirjaudu sisään</button>
    <a href="{{base_path}}/register" class="btn btn-primary" style="display: inline-block;">Rekisteröidy</a>

</form>

{% endblock %}