{% extends "base.html" %}
{% block content %}  

<h1>Kirjaudu sisään</h1>

<form method="post" action="{{base_path}}/login">
    <div class="form-group">
        <label>Sähköposti</label>
        <input type="text" class="form-control" name="email" value="{{email}}">
    </div>

    <div class="form-group">
        <label>Salasana</label>
        <input type="password" class="form-control" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
</form>

{% endblock %}