{% extends "base.html" %}
{% block content %}
<div style="margin-bottom: 50px">
    <h1>Lisää tuoteluokka</h1>
    <form>
        <div class="form-group">
            <label>Tuoteluokan nimi</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Lisää tuoteluokka</button>
        </div>
    </form>
</div>

<div style="margin-bottom: 50px">
    <h1>Poista tuoteluokka</h1>
    <form>
        <div class="form-group">
            <label>Tuoteluokan nimi</label>
            <div class="form-group">
                <select class="form-control">
                    <option>Urheilu</option>
                    <option>Vapaa-aika</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Poista tuoteluokka</button>
        </div>
    </form>
</div>
{% endblock %}