{% extends "base.html" %}
{% block content %}  

<h1 class="text-center" style="margin-bottom: 25px">Tervetuloa huutokaupan etusivulle</h1>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>Tyyppi</th>
            <th>Tuotteita</th>
            <th>Halvin tuote</th>
        </tr>
    </thead>

    <tbody>
        <!--Listataan tuoteluokat tähän-->
        <tr>
            <td>Urheilu</td>
            <td>2</td>
            <td>2e</td>
        </tr>
        <tr>
            <td>Vapaa-aika</td>
            <td>0</td>
            <td>ei ole</td>
        </tr>
    </tbody>
</table>

{% endblock %}