{% extends "base.html" %}
{% block content %}  

<h1>Pallo</h1>
<!-- Kuva tähän -->
<p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Soccer_ball_on_ground.jpg/1280px-Soccer_ball_on_ground.jpg" style="max-width: 70%" alt="kuva">
</p>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Lisätty:</strong>21.03.2017</li>
    <li><strong>Sulkeutuu:</strong>01.04.2017</li>
    <li><strong>Suurin tarjous:</strong>10e</li>
</ul>

<!-- Kuvaus tulee tähän -->
<label>Kuvaus</label>
<p>
    Lähes käyttämätön pallo
</p>


<p>
    <button class="btn btn-primary">Tee tarjous</button>
</p>


{% endblock %}