{% extends "base.html" %}
{% block content %}
<h1>Muokkaa tuotetta Pallo</h1>
<p>
    <button class="btn btn-danger">Poista</button>
</p>
<form>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" value="Pallo">
    </div>
    <label>Tuoteluokat</label>
    <div class="form-inline" style="margin-bottom: 10px">
        <a>Urheilu</a>
        <button class="btn btn-danger">-</button>
    </div>
    <div class="form-group form-inline">
        <select class="form-control">
            <option>Vapaa-aika</option>
        </select>
        <button class="btn btn-success">+</button>
    </div>
    <div class="form-group">
        <label>Kuvaus</label>
        <textarea class="form-control">
        </textarea>
    </div>
    <div class="form-group">
        <label for="exampleInputFile">Kuva</label>
        <input type="file" id="exampleInputFile">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox">
            Suljettu
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}
