{% extends "base.html" %}
{% block content %}
<div>
    <h1>Lisää tuote</h1>

    <form method="post" action="{{base_path}}/esitteet/lisaaEsite" enctype="multipart/form-data">
        <div class="form-group">
            <label>Nimi</label>
            <input type="text" name="name" class="form-control" value="{{attributes.nimi}}">
        </div>
        <div>
            <label>Tuoteluokka</label>
            <div class="form-group form-inline">
                <select class="form-control" name="tuoteluokat[]" multiple="">
                    {% for tuoteluokka in tuoteluokat %}
                    <option value="{{tuoteluokka.id}}">{{tuoteluokka.nimi}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Lähtöhinta</label>
            <input type="text" name="startPrice" class="form-control" value="{{attributes.aloitushinta}}">
        </div>
        <div class="form-group">
            <label>Sulkeutuu</label>
            <input type="datetime" name="ends" class="form-control" value="{{attributes.sulkeutuu}}">
            <p class="help-block">pp.kk.vvvv</p>
        </div>
        <div class="form-group">
            <label>Kuvaus</label>
            <textarea name="description" class="form-control">{{attributes.kuvaus}}</textarea>
        </div>
        <div class="form-group">
            <label>Kuva</label>
            <input type="file" name="picture" id="picture">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Lisää tuote</button>
        </div>
    </form>
</div>
{% endblock %}