{% extends "base.html" %}
{% block content %}  

<h1>{{esite.nimi}}</h1>
<div class="text-center" style="height: 80%; width: 80%;
     background-color: white;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     margin-bottom: 25px; padding: 1%">

    <div style="width: 100%; height: 100%; text-align: center">
        <a>{{esite.showImage}}</a>
    </div>
</div>
<ul>
    <li><strong>Lisätty: </strong>{{avattu}}</li>
    <li><strong>Sulkeutuu: </strong>{{sulkeutuu}}</li>
    <li><strong>Lähtöhinta: </strong>{{esite.aloitushinta}} €</li>
    <li><strong>Suurin tarjous: </strong>{{suurin.summa}} €</li>
    <div style="margin-top: 1%;">
        <label>Tuoteluokat: </label>
        {% for tuoteluokka in tuoteluokat %}
        <li>{{tuoteluokka.nimi}}</li>
        {% endfor %}
    </div>
</ul>

<label>Kuvaus</label>
<div>
    <textarea rows="5" cols="35" disabled style="background-color: white">
    {{esite.kuvaus}}
    </textarea>
</div>


<div>
    <form method="post" action="{{base_path}}/esitteet/{{esite.id}}" class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-eur" aria-hidden="true"></i></div>
                <input name="summa" type="text" class="form-control" id="exampleInputAmount" placeholder="Summa">
            </div>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </form>
</div>

{% if user_logged_in.onkoAdmin %}
<div style="margin-top: 2%;">
    <a href="{{base_path}}/esitteet/{{esite.id}}/muokkaa" class="btn btn-success">Muokkaa</a>
    <a href="{{base_path}}/esitteet/{{esite.id}}/tarjoukset" class="btn btn-success">Tarjoukset</a>
</div>
{% endif %}

{% endblock %}