{% extends "base.html" %}
{% block content %}  

<div style="display: block;
     margin-left: auto;
     margin-right: auto; text-align: center">
    <div style="margin-bottom: 25px">
        <table class="table table-hover table-bordered" style="background: white;">
            <thead>
                <tr>
                    <th class="text-center">Luokat</th>
                </tr>
            </thead>
            <tbody>
                {% for valinta in valinnat %}
                <tr>
                    <td>{{valinta.nimi}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form class="form-inline" method="post" action="{{base_path}}/esitteet" style="">
            <select class="form-control" name="tuoteluokat[]" multiple="">
                {% for tuoteluokka in tuoteluokat %}
                <option value="{{tuoteluokka.id}}">{{tuoteluokka.nimi}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <br>

            {% if user_logged_in.onkoAdmin %}
            <a href="{{base_path}}/tuoteluokat" class="btn btn-default">Muokkaa tuoteluokkia</a>
            {% endif %}

            <div style="margin-top: 2%">
                {% if user_logged_in.onkoAdmin %}
                <a href="{{base_path}}/esitteet/lisaa" class="btn btn-default">Lisää esite</a>
                {% endif %}
            </div>

        </form>
    </div>
</div>



{% for esite in esitteet %}
<div class="container" style="width: 80%; height: 70%">
    <div class="text-center" style="display: block;
         margin-left: auto;
         margin-right: auto; max-height: 60%; max-width: 80%;
         background-color: white;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         margin-bottom: 25px;">

        <a href="{{base_path}}/esitteet/{{esite.id}}">{{esite.showImage}}</a>
        <div style="text-align: center;
             padding: 2% 2%;">
            <a href="{{base_path}}/esitteet/{{esite.id}}">{{esite.nimi}}</a>
            <br>
            <label>Sulkeutuu: {{esite.getSulkeutuu}}</label>
            <br>
            <label>Suurin tarjous: {{esite.getHighestBid}}€</label>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}