<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
            Huutokauppa
            {% endblock %}
        </title>

        {% block head %}
        <!-- Bootstrap (tyylitiedosto) -->
        <link href="{{base_path}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <!-- Oma tyylitiedostomme -->
        <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
        {% endblock %}
    </head>

    <body>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Sovelluksen nimi -->
                    <a class="navbar-brand" href="{{base_path}}">Etusivu</a>
                </div>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <!-- Navigaation linkit -->
                        <li><a href="{{base_path}}/esitteet">Tuotteet</a></li>
                    </ul>
                    {% if user_logged_in %}
                    <form class="navbar-form navbar-right" method="post" action="{{base_path}}/logout">
                        <button type="submit" class="btn btn-default">Kirjaudu ulos</button>
                    </form>
                    {% else %}
                    <div class="navbar-form navbar-right">
                        <a href="{{base_path}}/login" class="btn btn-default" >Kirjaudu sisään</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div id="main-container">
            {% if message %}
            <div class="alert alert-success">
                {{message}}
            </div>
            {% endif %}

            {% if errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if error %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endif %}
            <!-- Dynaaminen sisältö tulee tähän -->
            {% block content %}{% endblock %}
        </div>

        {% block body %}
        <!-- jQuery -->
        <script src="{{base_path}}/vendor/jquery.min.js"></script>

        <!-- Bootstrap (skriptitiedosto) -->
        <script src="{{base_path}}/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Oma skriptitiedostomme -->
        <script src="{{base_path}}/assets/js/site.js"></script>
        {% endblock %}
    </body>
</html>
